.ui.sidebar.main-sidebar {
  margin-top: 3.6em !important;
  background-color: #303641;
  font-size: 1.1rem;
  color: #a1a09f;
}

.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.sidebar_add_project {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.4285em !important;
}

.menu_sidebar {
  padding-top: 2em;
  padding-bottom: 4em;
}

.ui.menu.topNav {
  height: 4em;
  padding: 0em 0em;
  background-color: #303641 !important;
}

.ui.menu.top_nav_segment_mobile {
  height: 75px;
  padding: 1em 0em;
  background-color: #303641 !important;
}

.main_nav {
  top: 10em;
}

.topNavMenus {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  width: 100%;
  justify-content: center;
}

.button_top_bar {
  margin-left: 0.5em !important;
}

.table_main_panel {
  width: auto !important;
  margin: 0 auto !important;
}

.input_disabled {
  opacity: 0.8 !important;
}

.button-default {
  text-align: center;
  background-color: grey;
  color: #eee;
  border: none;
  font-family: "Lato";
  padding: 10px 20px;
  border-radius: 5px;
  width: max-content;
  margin: 20px 10px;
  float: right;
}
